{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'idx.title'|trans }}{% endblock %}

{% block header_title %}
    <h1>{{ 'idx.header.title'|trans }}</h1>
    <p>{{ 'idx.header.subtitle'|trans }}</p>
{% endblock %}

{% block content %}
    <!-- begin col-9 -->
    <div class="col-md-9">
        <!-- begin post-list -->
        <ul class="post-list">
            <li>
                <!-- begin post-left-info -->
                <div class="post-left-info">
                    <div class="post-date">
                        <span class="day">18</span>
                        <span class="month">OCT</span>
                    </div>
                    <div class="post-likes">
                        <i class="fa fa-heart-o"></i>
                        {#<span class="number">1,743</span>#}
                    </div>
                </div>
                <!-- end post-left-info -->
                <!-- begin post-content -->
                <div class="post-content">
                    <!-- begin post-video -->
                    <div class="post-video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l2QAy1kKI94" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- end post-video -->
                    <!-- begin post-info -->
                    <div class="post-info">
                        <h4 class="post-title">
                            <a href="#">{{ 'idx.post.title'|trans }}</a>
                        </h4>
                        <div class="post-by">
                            {#Posted By <a href="#">admin</a> <span class="divider">|</span> <a href="#">Movies</a>, <a href="#">Minions</a>, <a href="#">Trailer</a> <span class="divider">|</span> 1,292 Comments#}
                        </div>
                        <div class="post-desc">
                            {{ 'idx.post.description'|trans|raw }}
                        </div>
                    </div>
                    <!-- end post-info -->
                    <!-- begin read-btn-container -->
                    <div class="read-btn-container">
                        {#<a href="post_detail.html">Read More <i class="fa fa-angle-double-right"></i></a>#}
                    </div>
                    <!-- end read-btn-container -->
                </div>
                <!-- end post-content -->
            </li>
        </ul>
        <!-- end post-list -->
    </div>
    <!-- end col-9 -->
{% endblock %}

{% block sidebar %}
    <!-- begin col-3 -->
    <div class="col-md-3">
        <!-- begin section-container -->
        <div class="section-container">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-inverse btn-lg btn-block">{{ 'btn.register'|trans }}</a>
        </div>
        <!-- end section-container -->
    </div>
    <!-- end col-3 -->
{% endblock %}