{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'idx.title'|trans }}{% endblock %}

{% block header_title %}
    <h1>{{ 'idx.header.title'|trans }}</h1>
    <p>{{ 'idx.header.subtitle'|trans }}</p>
{% endblock %}

{% block content %}
    <!-- begin col-9 -->
    <div class="col-md-9">
        <!-- begin post-list -->
        <ul class="post-list">
            <li>
                <!-- begin post-left-info -->
                <div class="post-left-info">
                    <div class="post-date">
                        <span class="day">15</span>
                        <span class="month">NOV</span>
                    </div>
                </div>
                <!-- end post-left-info -->
                <!-- begin post-content -->
                <div class="post-content">
                    <!-- begin post-image -->
                    <div class="post-image">
                        <a href="#">
                            <div class="post-image-cover" style="background-image: url({{ asset('img/blockchain.jpg') }});"></div>
                        </a>
                    </div>
                    <!-- end post-image -->
                    <!-- begin post-info -->
                    <div class="post-info">
                        <h4 class="post-title">
                            <a href="#">Integramos nuestro sistema a Blockchain</a>
                        </h4>
                        <div class="post-by">
                        </div>
                        <div class="post-desc">
                            Queridos lectores:<br><br>
                            Hemos realizados cambios en nuestro sistema para contar con un nuevo valor agregado. Se trata de la utilización de la red Blockchain de Ethereum.
                            <br><br>
                            Mediante esta nueva actualización estamos generando una validación más a la prueba de existencia de sus manuscritos, utilizando esta novedosa y tan utilizada tecnología.
                            <br><br>
                            Ustedes no notaran la diferencia en la utilización de nuestra página, no deberán realizar acciones extras. Simplemente en el detalle de cada uno de sus manuscritos verán información extra relacionada con blockchan.
                            <br><br>
                            Nuevamente, los invitamos a seguir utilizando nuestro servicio para administrar sus manuscritos.
                            <br><br>
                            Equipo editorial y comercial de Planeta Lector
                        </div>
                    </div>
                    <!-- end post-info -->
                    <!-- begin read-btn-container -->
                    <div class="read-btn-container">
                    </div>
                    <!-- end read-btn-container -->
                </div>
                <!-- end post-content -->
            </li>
            <li>
                <!-- begin post-left-info -->
                <div class="post-left-info">
                    <div class="post-date">
                        <span class="day">10</span>
                        <span class="month">OCT</span>
                    </div>
                </div>
                <!-- end post-left-info -->
                <!-- begin post-content -->
                <div class="post-content">
                    <!-- begin post-image -->
                    <div class="post-image">
                        <a href="#">
                            <div class="post-image-cover" style="background-image: url({{ asset('img/libros.jpg') }});"></div>
                        </a>
                    </div>
                    <!-- end post-image -->
                    <!-- begin post-info -->
                    <div class="post-info">
                        <h4 class="post-title">
                            <a href="#">Sobre Planetalector</a>
                        </h4>
                        <div class="post-by">
                        </div>
                        <div class="post-desc">
                            Queridos escritores:<br><br>
                            Este es el segundo año de Planeta Lector. Luego de transcurrido el primer año desde su lanzamiento, todos los que participamos en su fundación y realización sentimos mucho orgullo por la tarea realizada y también por los logros alcanzados. Pero, tan difícil como fue hace algo más de un año comenzar, nos toca ahora continuar.
                            <br><br>
                            Estamos convencidos de lo que nos propusimos al principio, y la extraordinaria recepción que hemos tenido nos lo confirma. Para este segundo año de vida, no solo hemos duplicado el número de títulos con los que nos presentamos sino que, además, hemos ampliado y diversificado la oferta de autores y géneros. Y como estamos muy entusiasmados, decidimos también incursionar en otros niveles. Es por eso que creamos “Planeta tierra”, el segmento del catálogo destinado a la escuela secundaria y cuyos títulos incluirán, en el mismo volumen, una guía de lectura con la biografía de los autores, un breve pero consistente marco conceptual y una propuesta variada de actividades.
                            <br><br>
                            A lo largo de nuestro primer año de marcha, tuvimos éxito porque quisimos ser, a la vez, leales con nuestros interlocutores: por un lado, con los lectores (los docentes y los alumnos) conformando un catálogo rico, variado y sólido. Pero también con nuestros autores e ilustradores, quienes poniendo lo mejor de sus capacidades creativas, contribuyeron a dar forma a este cuidado universo de lecturas que tiene por fin llevar a las aulas lo mejor de la literatura para niños y jóvenes.
                            <br><br>
                            Nuevamente, los invitamos a seguir incursionando en el maravilloso universo de la lectura y apasionarse, tal como nos ocurrió a nosotros al seleccionar cada uno de los títulos de esta nueva etapa.
                            <br><br>
                            Equipo editorial y comercial de Planeta Lector
                        </div>
                    </div>
                    <!-- end post-info -->
                    <!-- begin read-btn-container -->
                    <div class="read-btn-container">
                    </div>
                    <!-- end read-btn-container -->
                </div>
                <!-- end post-content -->
            </li>
        </ul>
        <!-- end post-list -->
    </div>
    <!-- end col-9 -->
{% endblock %}

{% block sidebar %}
    <!-- begin col-3 -->
    <div class="col-md-3">
        <!-- begin section-container -->
        <div class="section-container">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-inverse btn-lg btn-block">{{ 'btn.register'|trans }}</a>
        </div>
        <!-- end section-container -->
    </div>
    <!-- end col-3 -->
{% endblock %}