{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'login.title'|trans }}{% endblock %}

{% block header_title %}
    <h1>{{ 'login.header.title'|trans }}</h1>
    <p>{{ 'login.header.subtitle'|trans }}</p>
{% endblock %}

{% block content %}
    <!-- begin col-9 -->
    <div class="col-md-9">
        <!-- begin post-list -->
        <ul class="post-list">
            <li>
                <!-- begin post-content -->
                <div class="post-content">
                    <!-- begin post-image -->
                    <div class="post-image post-image-with-carousel">
                        <!-- begin carousel -->
                        <div id="carousel-post" class="carousel slide" data-ride="carousel">
                            <!-- begin carousel-inner -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#"><img src="{{ asset('img/libros.jpg') }}" alt="" /></a>
                                </div>
                            </div>
                            <!-- end carousel-inner -->
                        </div>
                        <!-- end carousel -->
                    </div>
                    <!-- end post-image -->
                    <!-- begin post-info -->
                    <div class="post-info">
                        <h4 class="post-title">
                            {{ 'login.post.title'|trans }}
                        </h4>
                        <div class="post-desc">
                            {{ 'login.post.description'|trans({'%link_start%' : '<a href="'~path('fos_user_registration_register')~'" class="text-success">', '%link_end%' : '</a>'})|raw }}
                        </div>
                    </div>
                    <!-- end post-info -->
                </div>
                <!-- end post-content -->
            </li>
        </ul>
        <!-- end post-list -->
    </div>
    <!-- end col-9 -->
{% endblock %}

{% block sidebar %}
    <!-- begin col-3 -->
    <div class="col-md-3">
        <!-- begin section-container -->
        <div class="section-container">
            {{ include('default/Security/login_content.html.twig') }}
        </div>
        <!-- end section-container -->
    </div>
    <!-- end col-3 -->
{% endblock %}