{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'doc.detail.title'|trans }}{% endblock %}

{% block header_title %}
    <h1>{{ 'doc.detail.header.title'|trans }}</h1>
    <p>{{ 'doc.detail.header.subtitle'|trans }}</p>
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <!-- begin post-detail -->
        <div class="post-detail section-container">
            <h4 class="post-title">
                {{ file.name }}
            </h4>
            <div class="post-by">
                {{ 'doc.detail.header.created.at'|trans }} {{ file.createdDate|date('Y-m-d') }}
            </div>
            {#<!-- begin post-image -->#}
            {#<div class="post-image">#}
                {#<div class="post-image-cover" style="background-image: url(../assets/img/post/post-1.jpg)"></div>#}
            {#</div>#}
            {#<!-- end post-image -->#}
            <!-- begin post-desc -->
            <div class="post-desc">
                <p>
                    {{ file.description|raw }}
                </p>
                <br>
                <a href="{% path file.media, 'reference' %}" target="_blank" class="btn btn-inverse btn-lg">{{ 'doc.detail.download'|trans }}</a>
            </div>
            <!-- end post-desc -->
        </div>
        <!-- end post-detail -->
        {% if file.bcHash %}
        <!-- begin section-container -->
        <div class="section-container">
            <h4 class="section-title"><span>{{ 'doc.detail.in.bc.title'|trans }}</span></h4>
            <!-- begin comment-list -->
            <ul class="comment-list">
                <li>
                    <!-- begin comment-container -->
                    <div class="comment-container">
                        <div class="comment-author">
                            {{ 'doc.detail.in.bc.date.title'|trans }}
                            <span class="comment-date">
                                {{ 'doc.detail.in.bc.date.on'|trans }} {{ file.updatedDate|date('Y-m-d') }}
                            </span>
                        </div>
                        <div class="comment-content">
                            {{ 'doc.detail.in.bc.your.md5.hash'|trans }}: {{ file.fileHash }}
                            <br>
                            <a href="http://onlinemd5.com/"  target="_blank">{{ 'doc.detail.in.bc.md5.check.on'|trans }}</a>
                            <br>
                            {{ 'doc.detail.in.bc.your.bc.id'|trans }}: {{ file.bcHash }}
                            <br>
                            <a href="https://ropsten.etherscan.io"  target="_blank">{{ 'doc.detail.in.bc.hash.check.on'|trans }}</a>
                        </div>
                    </div>
                    <!-- end comment-container -->
                </li>
            </ul>
            <!-- end comment-list -->
        </div>
        <!-- end section-container -->
        {% else %}
        <!-- begin section-container -->
        <div class="section-container">
            <h4 class="section-title m-b-20"><span>{{ 'doc.detail.save.to.bc.title'|trans }}</span></h4>
            <div class="alert alert-warning f-s-12">
                {{ 'doc.detail.save.to.bc.description'|trans }}
            </div>
            <a href="{{ path('app_file_manager_save_on_bc', { id: file.id }) }}" class="btn btn-inverse btn-lg">{{ 'doc.detail.save.to.bc.btn'|trans }}</a>
        </div>
        <!-- end section-container -->
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('base_sidebar.html.twig') }}
{% endblock %}